@font-face {
    font-family: 'Carattere';
    src: url('Carattere-Regular.woff2') format('woff2'),
        url('Carattere-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

